@import "./reset.css";
@import "./header/header.css";
@import "./nav/nav.css";
@import "./user/user.css";
@import "./mobail/nav-icon.css";
@import "./buttons.css";
@import "./form/form.css";
@import "./mobail/mobail-nav.css";
@import "./section/section.css";
@import "./card/card.css";
@import "./footer/footer.css";
@import "./about/about.css";
@import "./subscribe/subscribe.css";

@import "./custom-select.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "./media.css";

html {
    scroll-behavior: smooth;
}

.none {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #161414;
}

.header {
    padding: 31px 0 100px;
    height: 800px;
    color: #ffffff;
    background-color: #000000;
    background-image: url("./../img/header/header-bg.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 0 0 54px 54px;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;
}

.container--header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Main */
.title-1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
}

.main {
    padding: 120px 0;
    display: grid;
    gap: 120px;
}